$bg-color: black;
$top_menu_height: 45px;
$profile-menu-border: 1px solid black;
$profile-menu-padding: 10px;
$profile-menu-z-index: 1;

#top-menu {
  display: block;
  background-color: $bg-color;
  width: 100%;
  height: $top_menu_height;
  vertical-align: middle;
  position: absolute;
  top: 0px;
  left: 0px;
}

.menu-item {
  padding: {
    top: 7px;
    bottom: 9px;
  }
  float: left;
  margin: {
    left: 0px;
    right: 0px;
  }
}

#profile-item {
  margin: {
    right: 10px;
  };
  width: 45px;
  height: 45px;
  float: right;
}

#profile-button {
  width: 45px;
  heigh: 45px;
  float: right;
  margin: {
    right: 10px;
  }
  cursor: pointer;
}

#profile-menu-container {
  display: none;
  position: absolute;
  border: $profile-menu-border;
  padding: $profile-menu-padding;
  z-index: $profile-menu-z-index;
}
